/*Declaring the downloaded font*/
@font-face {
    font-family: "fifteentwenty";
    src: url("./fonts/FifteenTwenty-Bold.otf")
}

/*Setting the size of the poster*/
#viewport {
    height: 1920px;
    width: 1080px;
    background-color: black;
    padding: 2%;
}

h1 {
    font-family: "fifteentwenty";
    color: magenta;
    font-size: 88px;
    text-align: center;
}

h2 {
    font-family: "fifteentwenty";
    color: lime;
    font-size: 52px;
    text-align: center;
}

h3 {
    font-family: "fifteentwenty";
    color: yellow;
    font-size: 42px;
    text-align: center;
}

p {
    font-family: "fifteentwenty";
    color: whitesmoke;
    font-size: 32px;
}

ul {
    font-family: "fifteentwenty";
    color: whitesmoke;
    font-size: 28px;
}

a {
    color: whitesmoke;
}

/*Settings for the 2 column section*/
.left, .right {
    width: 40%;
    margin: 3%;
    padding:3%;
    margin-top: 100px;
    border-color: whitesmoke;
    border-width: 2px;
    border-radius: 45px;
    border-style: solid;
    background-color: black;
    z-index: 3;
}

/*Flex to display 2x <div> elements side by side*/
.twocol {
    display: flex;
}

/**************/
/*Stacked GIFs*/
/**************/

.stack {
    position: relative;
    width: 700px;
    margin: auto;
}

.fire {
    position: absolute;
    top: -200px;
    left: 0;
    width: 700px;
    z-index: 1;
}

.computer {
    position: absolute;
    top: 250px;
    left: 130px;
    width: 400px;
    z-index: 2;
}


/****************************/
/*Animated text - typewriter*/
/****************************/

/*Defines initial empty 'content' string, animation length and loop*/
.typewriter::before {
    content: ""; /*Creates invisible element for the text string*/
    animation-name: typing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/*Creates the cursor effect*/
.typewriter::after {
    content: ""; /*Creates invisible element to hold the cursor*/
    border-right-width: 1ch;
    border-right-style: solid;
    border-right-color: currentColor;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    vertical-align: 20px; /*Offsets cursor height to align with text*/
}

/*Keyframe animation simulating typing by swapping out the content string*/
@keyframes typing {
    0% {content: "";}
    3% {content: "H";}
    6% {content: "HT";}
    9% {content: "HTM";}
    12% {content: "HTML";}
    15% {content: "HTML ";}
    18% {content: "HTML &";}
    21% {content: "HTML & C";}
    24% {content: "HTML & CS";}
    27% {content: "HTML & CSS";}
    30% {content: "HTML & CSS ";}
    33% {content: "HTML & CSS H";}
    36% {content: "HTML & CSS HA";}
    39% {content: "HTML & CSS HAC";}
    42% {content: "HTML & CSS HACK";}
    45% {content: "HTML & CSS HACKA";}
    48% {content: "HTML & CSS HACKAT";}
    51% {content: "HTML & CSS HACKATH";}
    54% {content: "HTML & CSS HACKATHO";}
    57%, 100% {content: "HTML & CSS HACKATHON";}
}

/*Keyframe animation for the blinking cursor, toggles opacity*/
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}